x-restart_and_tty: &restart_and_tty
  restart: unless-stopped
  tty: true

x-postgres: &postgres
  <<: *restart_and_tty
  image: postgres:17.5
  healthcheck:
    test: bash -c "pg_isready --username=$${POSTGRES_USER} --dbname=$${POSTGRES_DB}"
    start_period: 5s
    start_interval: 1s

x-depends_on_db: &depends_on_db
  db:
    condition: service_healthy

x-depends_on_db_redis_and_message_queue: &depends_on_db_redis_and_message_queue
  <<: *depends_on_db
  redis:
    condition: service_healthy
  message_queue:
    condition: service_healthy

x-src: &launch
  <<: *restart_and_tty
  init: true

x-api: &api
  <<: *launch
  ports: ["127.0.0.1:${APP_PORT}:${APP_PORT}"]

x-db_envs: &db_envs
  POSTGRES_USER: core
  POSTGRES_SCHEMA_NAME: core # custom env variable for setting the schema
  POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
  POSTGRES_DB: ${POSTGRES_DB}
  TZ: ${TIMEZONE}

x-rabbitmq_envs: &rabbitmq_envs
  RABBITMQ_DEFAULT_USER: ${RABBITMQ_USER}
  RABBITMQ_DEFAULT_PASS: ${RABBITMQ_PASSWORD}

services:
  db:
    profiles: ["prod", "dev"]
    <<: *postgres
    environment:
      <<: *db_envs
    volumes:
      - db_data:/var/lib/postgresql/data/

  ws:
    profiles: ["prod"]
    <<: *launch
    build:
      context: .
      target: ws
    environment:
      DEBUG: 0
      <<: *db_envs
    ports: ["127.0.0.1:${WEBSOCKETS_APP_PORT}:80"]
    depends_on:
      <<: *depends_on_db_redis_and_message_queue

  ws-dev:
    profiles: ["dev"]
    <<: *launch
    build:
      context: .
      target: ws
    environment:
      DEBUG: 1
      <<: *db_envs
    command: ["--reload"]
    ports: ["127.0.0.1:${WEBSOCKETS_APP_PORT}:80"]
    depends_on:
      <<: *depends_on_db_redis_and_message_queue
    volumes:
      - .:/app/api

  api:
    <<: *api
    profiles: ["prod"]
    build:
      context: .
      target: api
    environment:
      DEBUG: 0
      MODE: "PROD"
      <<: *db_envs
      POSTGRES_HOST: ${POSTGRES_HOST}
      POSTGRES_PORT: ${POSTGRES_PORT}
    depends_on:
      <<: *depends_on_db_redis_and_message_queue

  api-dev:
    <<: *api
    profiles: ["dev"]
    build:
      context: .
      target: api
    environment:
      DEBUG: 1
      MODE: "DEV"
      <<: *db_envs
      POSTGRES_HOST: ${POSTGRES_HOST}
      POSTGRES_PORT: ${POSTGRES_PORT}
    depends_on:
      <<: *depends_on_db_redis_and_message_queue
    volumes:
      - .:/app/api

  telegram:
    profiles: ["prod"]
    build:
      context: .
      target: telegram
    <<: *launch
    environment:
      DEBUG: 0
      <<: *db_envs
      POSTGRES_HOST: ${POSTGRES_HOST}
      POSTGRES_PORT: ${POSTGRES_PORT}
    depends_on:
      <<: *depends_on_db_redis_and_message_queue

  telegram-dev:
    profiles: ["dev"]
    build:
      context: .
      target: telegram
    <<: *launch
    environment:
      DEBUG: 1
      <<: *db_envs
      POSTGRES_HOST: ${POSTGRES_HOST}
      POSTGRES_PORT: ${POSTGRES_PORT}
    command: ["--reload"]
    depends_on:
      <<: *depends_on_db_redis_and_message_queue
    volumes:
      - .:/app/api

  db_client:
    profiles: ["dev"]
    <<: *restart_and_tty
    depends_on:
      <<: *depends_on_db
    image: dpage/pgadmin4
    environment:
      PGADMIN_DEFAULT_EMAIL: ${PGADMIN_DEFAULT_EMAIL}
      PGADMIN_DEFAULT_PASSWORD: ${PGADMIN_DEFAULT_PASSWORD}
    ports: ["127.0.0.1:5050:80"]

  redis:
    profiles: ["prod", "dev"]
    <<: *restart_and_tty
    image: redis:8
    command: redis-server --requirepass ${REDIS_PASSWORD}
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      start_period: 5s
      start_interval: 1s

  message_queue:
    profiles: ["prod", "dev"]
    <<: *restart_and_tty
    image: rabbitmq:4
    healthcheck:
      test: ["CMD", "rabbitmq-diagnostics", "-q", "ping"]
      start_period: 5s
      start_interval: 1s
    environment:
      <<: *rabbitmq_envs

volumes:
  db_data:
